@using MVCStok.Models.Entity
@model List<tbl_urunler>
@{
    ViewBag.Title = "Ürün Listesi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ürün Listesi</h2>

<table id="tbl1" class="table table-hover">
    <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Marka</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Stok Miktarı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prdct in Model)
        {
        <tr>
            <td>@prdct.UrunID</td>
            <td>@prdct.UrunAd</td>
            <td>@prdct.Marka</td>
            <td>@prdct.tbl_kategoriler.KatwgoriAd</td>
            <td>@prdct.Fiyat</td>
            <td>@prdct.Stok</td>
            <td> @Html.ActionLink("Sil", "delete", new { id = prdct.UrunID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten Silmek İstiyormusunuz?')" })</td>
            <td><a href="/Product/product_getir/@prdct.UrunID" class="btn btn-warning">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Product/Product_new/" class="btn btn-success">Yeni Ürün Ekle</a>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script>
    $('#tbl1').DataTable();
</script>